@import './styles/variables.scss';

.section-header {
    color: white;
}
html {

    body {
        //background-color: $code-green;
        //background-image: repeating-linear-gradient(25deg, rgb(0, 255, 0), rgb(0, 255, 0) 20px rgb(0, 0, 0) 20px, black 40px);
        background-image: repeating-linear-gradient(-35deg,
        transparent,
        transparent 40vw,
      /*rgba(0, 255, 0, 0.2) 40vw,
        rgba(0, 255, 0, 0.2) 80vw);*/
        $code-green 40vw,
        $code-green 80vw);
        background-attachment: fixed;
        
        .wrapper {
            // ************************************************
            // NAVIGATION STYLES
            // ************************************************
            .navbar {
                background: #000;
                .darkmode-button {

                    background-color: rgb(61, 61, 61);

                    i {
                        color: white;
                        transition: 0.6s;
                    }

                    .dark-icon {
                        display: none;
                    }
                    
                    .light-icon {
                        display:block;
                    }

                    &:hover>i {
                        color: $code-green;
                    }
                }
                .social-media-icons {
                    background-color: black;
                    i {
                        color: white;
                        transition: 0.6s;
                        &:hover {
                            transform: scale(1.1);
                            color: $code-green;
                        }
                    }

                }

                #hamitems a {
                    color: white;
                    &:hover {
                        color: $code-green;
                    }
                }

                
                @media screen and (max-width: 1150px){
                    #hamnav label { 
                        background: $code-green;
                    }
                    
                    #hamitems a {

                        border-top: 1px solid #333;
                    }
                }
            }
            #landing {
                background-image: unset;
                background-image: linear-gradient(45deg, 
                                                 rgba(0,0,0,1) 95%,
                                                 rgba(0, 0, 0, 0)
                                                 ),

                                  repeating-linear-gradient(25deg,
                                                            rgb(31, 31, 31) 10px,
                                                            rgb(58, 58, 58) 10px,
                                                            rgb(31,31,31) 8px
                                                            );
                color: white;
            }


            main {
                margin: 0;
                #languages-wrapper {
                    background-color: $darkmode-language-background;
                    .section-header {
                        color: white;
                    }
                    #languages {
                        .card {
                            &:hover {
                                transform: scale(1.02);
                                
                                box-shadow: 0px 0px 10px 5px rgba(87, 87, 87, 0.8);
                            }

                            .card-front {
                                background-color: $darkmode-language-card;

                            }
                        }
                    }
                }
                // Languages End
                    #frameworks-wrapper {
                        background-color: $darkmode-framework-background;
                        // .section-header {
                        //     a {
                        //         color: white;
                        //     }
                        //}
                    }
                // ************************************************
                // FRameworks end
                // ************************************************
                #projects-wrapper {
                    color: white;
                    background-color: $darkmode-project-background;
                    .projects {

                        .project {
                            border: 1px solid $code-green;
                        background-color: rgb(37, 37, 37);
                        background-color: $darkmode-project-card;
                        
                            .hover-text {
                                color: $code-green;
                            }
                            
                            .project-header-wrapper {
                                a {
                                    color: white;
                                }
                            }
                        }
                    }
                }
                #certifications-wrapper {
                    color: white;
                    background-color: $darkmode-certifications-background;
                }
                // ************************************************
                // Main end
                // ************************************************
            }
            #footer {

                color: $code-green;
                background-color: $darkmode-footer-background;
                h2 {
                    color: white;

                }

            }
        }
    }
}