@font-face {
  font-family: robotoMono;
  src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto_Mono/RobotoMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: cascadia;
  src: url(../fonts/cascadia-code/Cascadia.ttf) format("truetype");
}

@-webkit-keyframes flipdown {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/* ============================================ */
/* ============== Custom fonts ================ */
/* ============================================ */
.roboto-font {
  font-family: "Roboto", monospace, Impact;
}

.roboto-bold-font {
  font-family: "robotoBold", monospace, Impact;
}

.cascadia {
  font-family: "cascadia";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

html body {
  position: relative;
  background-color: black;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}

html body .wrapper {
  margin: 0;
  padding: 0;
}

html body .wrapper .section-header {
  margin-left: 8%;
}

html body .wrapper .navbar {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Horizontal Menu Items */
  /* [ON SMALL SCREENS] */
}

html body .wrapper .navbar #hamnav {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 100%;
  padding: 0px 20px;
  top: 0;
}

html body .wrapper .navbar .darkmode-button {
  padding: 6px;
  border-radius: 6px;
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
  background-color: #3d3d3d;
  text-align: center;
}

html body .wrapper .navbar .darkmode-button i {
  color: white;
  font-size: 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

html body .wrapper .navbar .darkmode-button .light-icon {
  display: none;
}

html body .wrapper .navbar .darkmode-button:hover > i {
  color: #1eff00;
}

html body .wrapper .navbar .social-media-icons {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: black;
}

html body .wrapper .navbar .social-media-icons i {
  color: white;
  font-size: 40px;
  margin-left: .2em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

html body .wrapper .navbar .social-media-icons i:hover {
  color: #1eff00;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body .wrapper .navbar #hamnav label, html body .wrapper .navbar #hamburger {
  display: none;
}

html body .wrapper .navbar #hamitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .wrapper .navbar #hamitems a {
  width: 20%;
  /* 100% / 5 tabs = 20% */
  padding: 0px 25px 15px 0px;
  color: white;
  font-family: cascadia, monospace, Impact;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

html body .wrapper .navbar #hamitems a:hover {
  color: #1eff00;
}

@media screen and (max-width: 1150px) {
  html body .wrapper .navbar {
    /* Show Hamburger Icon */
    /* Break down menu items into vertical */
    /* Toggle Show/Hide Menu */
  }
  html body .wrapper .navbar #hamnav {
    padding: 0;
  }
  html body .wrapper .navbar #hamnav label {
    display: inline-block;
    background: #1eff00;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 900;
    padding: 10px 15px;
  }
  html body .wrapper .navbar #hamitems a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  html body .wrapper .navbar #hamitems {
    display: none;
  }
  html body .wrapper .navbar #hamnav input:checked ~ #hamitems {
    display: block;
  }
}

html body .wrapper #landing {
  padding: 10% 10%;
  display: block;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
  background-color: #e5cbba;
  z-index: 95;
  color: black;
}

html body .wrapper #landing::before {
  content: "";
  background-image: unset;
  background-image: repeating-linear-gradient(25deg, #424242 3px, darkgrey 3px, #424242 8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -3;
  background-attachment: fixed;
}

html body .wrapper #landing .landing-left {
  font-size: x-large;
}

html body .wrapper #landing .landing-right {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

html body .wrapper #landing .landing-item {
  display: inline-block;
  width: 40%;
}

html body .wrapper #landing #subhead {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: flipdown 1s cubic-bezier(0.28, 1, 0.62, 1) 2s forwards;
          animation: flipdown 1s cubic-bezier(0.28, 1, 0.62, 1) 2s forwards;
}

@media only screen and (max-width: 1000px) {
  html body .wrapper #landing {
    padding: 15% 5% 10% 5%;
  }
  html body .wrapper #landing .landing-item {
    display: block;
    width: 100%;
  }
}

html body .wrapper main {
  margin: 0;
}

html body .wrapper main #languages-wrapper {
  background-color: #e5cbba;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
  margin-top: -6vh;
  -webkit-clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
          clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
  padding: 25px 0px 100px 25px;
  z-index: 85;
}

html body .wrapper main #languages-wrapper #languages {
  text-align: center;
}

html body .wrapper main #languages-wrapper #languages .lang-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card {
  color: black;
  border-radius: 3%;
  display: inline-block;
  margin-bottom: 30px;
  background-color: #FFE8D6;
  height: 300px;
  width: 200px;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .lang-text p {
  font-family: "Roboto", sans-serif;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card ul {
  text-align: left;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .lang-img {
  height: 150px;
  width: 150px;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .php-img {
  height: 70%;
  margin: 20% 0 20% 0%;
}

@media only screen and (max-width: 455px) {
  html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .php-img {
    margin: 15% 0 15% 0;
  }
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .css-img {
  width: 70%;
}

html body .wrapper main #languages-wrapper #languages .lang-cards .lang-card .sql-img {
  border-radius: 4%;
}

@media screen and (max-width: 479px) {
  html body .wrapper main #languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html body .wrapper main #frameworks-wrapper {
  background-color: #a396a7;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: -6vh;
  -webkit-clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
          clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
  padding: 25px 0px 100px 25px;
  z-index: 80;
}

html body .wrapper main #frameworks-wrapper #frameworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px 0px;
}

html body .wrapper main #frameworks-wrapper #frameworks .framework-card {
  font-family: "Roboto", sans-serif;
  font-size: large;
  background-color: #846292;
  color: black;
  padding: 1em 0.25em;
  border: 2px solid #583d58;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-text {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  height: 100%;
  border-left: 3px solid #583d58;
  text-align: left;
  padding-left: .5em;
}

html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-text ul {
  list-style-position: inside;
}

html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-img-wrapper {
  padding: 0.25em 0em 0.25em 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

@media screen and (max-width: 600px) {
  html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-card .framework-text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-card .framework-img-wrapper {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

html body .wrapper main #frameworks-wrapper #frameworks .framework-card .framework-img {
  width: 100%;
  height: auto;
}

html body .wrapper main #projects-wrapper {
  background-color: #d4d4b3;
  margin-top: -6vh;
  -webkit-clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
          clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
  padding: 25px 0px 100px 25px;
  width: 100%;
  height: 400px;
  z-index: 75;
}
/*# sourceMappingURL=style.css.map */