@import 'mixins';

@font-face {
    font-family: robotoMono;
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto_Mono/RobotoMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: cascadia;
    src: url(../fonts/cascadia-code/Cascadia.ttf) format("truetype");
}

// Animations
// @keyframes slidein {
//     from {
//         opacity: 0%;
//         transform: translateX(-600px);
//     }
  
//     to {
//         transform: translateX(0px);
//     }
// }
// for "Web developer" subheading
@keyframes flipdown {
    from {
        transform: rotateX(-90deg);
        transform-origin: top;
    }

    to {
        transform: rotateX(0deg);
    }
}

/* ============================================ */
/* ============== Custom fonts ================ */
/* ============================================ */
.roboto-font {
    font-family: "Roboto", monospace, Impact;
}
.roboto-bold-font {
    font-family: "robotoBold", monospace, Impact;
}

.cascadia {
    font-family: "cascadia";
}

// COLOR VARIABLES
$code-green: rgb(30, 255, 0);
$language-background : #e5cbba;
$language-card: #FFE8D6;
$framework-background: rgb(163, 150, 167);
$framework-card: rgb(132, 98, 146);
$project-background: #d4d4b3;
$project-card: #bdbd9f;
$darkmode-language-background: black;
$darkmode-project-background: black;
$darkmode-language-card: lightgrey;
$darkmode-project-card: lightgrey;
$darkmode-framework-background: black;
$darkmode-framework-card: lightgrey;

// STYLES BEGIN
* { box-sizing:border-box; }
html {
    //width: 100vw;
    overflow-x: hidden;
    width: 100vw;
    body {
        position: relative;
        background-color: black;
        height: 100%;
        width: auto;
        margin: 0;
        padding: 0;

        .wrapper {
            margin: 0;
            padding: 0;

            .section-header {
                margin-left: 8%;
            }
            // ************************************************
            // NAVIGATION STYLES
            // ************************************************
            .navbar {
                padding-right: 1rem;
                display: flex;
                position: fixed;
                width: 100%;
                z-index: 100;
                background: #000;
                align-items: center;
                #hamnav {
                    flex: 80%;
                    width: 100%;
                    padding: 0px 20px;
                    top: 0;

                }
                .darkmode-button {
                    padding: 6px;
                    border-radius: 6px;
                    flex: 5%; 
                    background-color: rgb(61, 61, 61);
                    text-align: center;
                    i {
                        color: white;
                        font-size: 30px;
                        transition: 0.6s;
                    }
                    
                    .light-icon {
                        display:none;
                    }
                    &:hover>i {
                        color: $code-green;
                    }
                }
                .social-media-icons {
                    flex: 15%;
                    display: flex;
                    justify-content: space-evenly;
                    background-color: black;
                    //padding: 10px 0px 0px 0px;
                    i {
                        color: white;
                        font-size: 40px;
                        margin-left: .2em;
                        transition: 0.6s;
                        &:hover {
                            color: $code-green;
                            transform: scale(1.2);
                        }
                    }

                }
                
                #hamnav label, #hamburger { display: none; }
                
                /* Horizontal Menu Items */
                #hamitems { display: flex; }
                
                #hamitems a {
                    width: 20%; /* 100% / 5 tabs = 20% */
                    padding: 0px 25px 15px 0px;
                    color: white;
                    font-family: cascadia, monospace, Impact;
                    text-decoration: none;
                    text-align: center;
                    transition: 0.6s;
                    &:hover {
                        color: $code-green;
                    }
                }

                
                /* [ON SMALL SCREENS] */
                @media screen and (max-width: 1150px){

                    #hamnav {
                        padding: 0;
                    }
                    /* Show Hamburger Icon */
                    #hamnav label { 
                        display: inline-block; 
                        background: $code-green;
                        font-style: normal;
                        font-size: 1.5em;
                        font-weight: 900;
                        padding: 10px 15px;
                    }
                    
                    /* Break down menu items into vertical */
                    #hamitems a {
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        border-top: 1px solid #333;
                    }
                    
                    /* Toggle Show/Hide Menu */
                    #hamitems { display: none; }
                    #hamnav input:checked ~ #hamitems { display: block; }
                }
            }
                // ************************************************
                //NAV STYLES END
                // ************************************************


            // ************************************************
            // HEADER STYLES
            // ************************************************
            #landing {
                padding: 10% 10%;
                display: block;
                position: relative;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
                background-color: $language-background;
                z-index: 95;
                color: black;
                // Applies opaque background image to #landing 
                // without affecting landing text
                &::before {
                    content:"";

                    background-image: unset;
                    background-image: repeating-linear-gradient(25deg, rgb(66, 66, 66) 3px, darkgrey 3px, rgb(66,66,66) 8px);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity:0.6;
                    position:absolute;
                    top:0;
                    bottom:0;
                    right:0;
                    left:0;
                    width:auto;
                    height:auto;
                    z-index:-3;
                    background-attachment: fixed;
                }
                .landing-left {
                    font-size: x-large;
                }

                .landing-right {
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: right;
                    //margin-right: 70px;
                }

                .landing-item {
                    display: inline-block;
                    width: 40%;
                }

                
                #subhead {
                    transform: rotateX(-90deg);
                    animation-fill-mode: forwards;
                    // Custom animation
                    animation: flipdown 1s cubic-bezier(0.28, 1, 0.62, 1) 2s forwards;
                }
                
            }
            //Wraps "about me" text on small screens
            @media only screen and (max-width: 1000px) {
                #landing {
                    padding: 15% 5% 10% 5%;

                    .landing-item {
                        display: block;
                        width: 100%;
                    }
                }
            }
            // ************************************************
            //HEADER STYLES END
            // ************************************************



            // ************************************************
            // MAIN SECTION STYLES
            // ************************************************
            main {
                margin: 0;
                #languages-wrapper {
                    background-color: $language-background;
                    //padding: 25px 0px 100px 25px;
                    // margin-top: -70px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% calc(100% - 7vh), 0 100%);
                    @include clipped-border;
                    z-index: 85;
                    #languages {
                        text-align: center;
                        .lang-cards {
                            // Responsive grid for language cards
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                            justify-content:center;
                            align-items: center;
                            
        
                            .lang-card {
                                color: black;
                                border-radius: 3%;
                                display: inline-block;
                                margin-bottom: 30px;
                                background-color: $language-card;
                                height: 300px;
                                width: 200px;
                                //margin: 30px 30px 30px 0px;
                                padding: 10px 20px;
                                font-family: Arial, Helvetica, sans-serif;
                                text-align: center;
                                transition: 0.3s;
                                &:hover {
                                    transform: translateY(2px);
                                    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
                                }
                                .lang-text p {
                                    font-family: "Roboto", sans-serif;
                                }
                                
                                ul {
                                    text-align: left;
                                }
                                
                                .lang-img {
                                    height: 150px;
                                    width: 150px;
                                }
                                
                                .php-img {
                                    height: 70%;
                                    margin: 20% 0 20% 0%;
                                }
                                
                                @media only screen and (max-width: 455px) {
                                    .php-img {
                                        margin: 15% 0 15% 0;
                                    }

                                    
                                }

                                .css-img {
                                    width: 70%;
                                }
                                
                                .sql-img {
                                    border-radius: 4%;
                                }
                            }
                        }

                    }
                }

                @media screen and (max-width: 479px){
                    #languages {
                        display: flex;
                        justify-content: center;
                    }
                }
                // Languages End
                    #frameworks-wrapper {
                        background-color: $framework-background;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        // clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
                        @include clipped-border;
                        z-index: 80;
                        #frameworks {
                            // REsponsive flexbox for framework cards
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            gap: 50px 0px;
                            
                            .framework-card {
                                font-family: "Roboto", sans-serif;
                                font-size: large;
                                background-color: $framework-card;
                                color: rgb(0, 0, 0);
                                padding: 1em 0.25em;
                                border: 2px solid rgb(88, 61, 88);
                                border-radius: 5px;
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                justify-content: space-between;
                                text-align: center;
                                //min-width: .8vw;
                                
                                
                                
                                .framework-text {
                                    flex: 60%;
                                    height: 100%;
                                    border-left: 3px solid rgb(88, 61, 88);//rgb(48, 45, 41);
                                    text-align: left;
                                    padding-left: .5em;
                                    
                                    ul {
                                        list-style-position: inside;
                                    }
                                }
                                
                                .framework-img-wrapper {
                                    padding: 0.25em 0em 0.25em 0.25em;
                                    display: flex;
                                    align-items: center;
                                    flex: 40%;
                                }
                                @media screen and (max-width: 600px) {
                                    .framework-card {
                                        flex-direction: column;

                                        .framework-text {
                                            flex: 50%
                                        }

                                        .framework-img-wrapper {
                                            flex:50%;
                                        }
                                    }
                                }
                                
                                .framework-img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                // ************************************************
                // FRameworks end
                // ************************************************

                #projects-wrapper {
                    background-color: $project-background;
                    //padding: 55px 5px 100px 5px;
                    // margin-top: -69px;
                    // clip-path: polygon(0 7vh, 15% 0, 100% 7vh, 100% 100%, 15% calc(100% - 7vh), 0 100%);
                    @include clipped-border;
                    width: 100%;
                    height: 400px;
                    z-index: 75;
                    // #projects {
                    // }
                }
            // ************************************************
            // Main end
            // ************************************************
            }
        }
    }

}

