$code-green: rgb(30, 255, 0);
$language-background : #e5dbba;
$language-card: #caaa92;
$framework-background: rgb(163, 150, 167);
$framework-card: rgb(132, 98, 146);
$project-background: rgb(119, 119, 119);
$project-card: #bdbd9f;
$certifications-background: tan;
$footer-background: rgb(130, 166, 212);
$darkmode-language-background: rgb(20, 20, 20);
$darkmode-language-card: lightgrey;
$darkmode-project-background: rgb(20, 20, 20);
$darkmode-project-card: rgb(85, 85, 85);
$darkmode-framework-background: rgb(20, 20, 20);
$darkmode-framework-card: lightgrey;
$darkmode-certifications-background: rgb(20, 20, 20);
$darkmode-footer-background: rgb(20, 20, 20);

$background: #9b59b6;
$tabs-base-color: #8e44ad;